.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	background-color: #f8f9fa;
}

.navLink {
	margin-left: 1rem;
}

.welcome {
	margin-right: auto;
}

.headerButtons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

@media (max-width: 767px) {
	.welcome {
		flex: 1 0 100%;
		text-align: center;
		margin-bottom: 1rem;
	}
	.headerButtons {
		width: 100%;
		justify-content: center;
	}
}
