.updateButton {
	width: 100%;
	margin-bottom: 50px;
}

.paymentMethods {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.paymentMethod {
	display: flex;
	align-items: center;
}

.paymentMethodImage {
	margin-right: 8px;
}

.offerings {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.offering {
	display: flex;
	align-items: center;
}

@media (max-width: 767.98px) {
	.paymentMethods,
	.offerings {
		flex-direction: column;
	}

	/* Make inputs full width on mobile */
	.form-control {
		width: 100%;
	}
}

@media (min-width: 768px) {
	/* Make inputs smaller than 100% width on desktop */
	.form-control {
		width: calc(100% - 15px);
	}
}
