.contactSection {
	padding: 50px 20px;
	text-align: center;
}

.contactSection form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 600px;
	margin: 0 auto;
	text-align: left;
}

.contactSection input,
.contactSection textarea {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.contactSection button {
	padding: 10px;
	border: none;
	background-color: #0666db;
	color: white;
	cursor: pointer;
}

.contactSection button:hover {
	background-color: #054fa9;
}
