.dashboardContainer {
	padding: 20px;
}

.card {
	margin-bottom: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.summary div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.chartPlaceholder {
	height: 200px;
	background-color: #f0f0f0;
}

.activitiesList,
.transactionsList,
.ordersList,
.productsList {
	list-style-type: none;
	padding: 0;
}

.activitiesList li,
.transactionsList li,
.ordersList li,
.productsList li {
	margin-bottom: 10px;
}

.activitiesList li {
	color: #333;
}

.transactionsList li {
	display: flex;
	justify-content: space-between;
}

.ordersList li,
.productsList li {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
}
