.footer {
	background-color: #000; /* Set background to black */
	padding: 20px 0;
	text-align: center;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer .scrollTop {
	display: block;
	margin: 0 auto 20px;
	cursor: pointer;
}

.footer .scrollTop i {
	font-size: 24px;
	color: #fff; /* Set icon color to white */
	transition: color 0.3s;
}

.footer .scrollTop:hover i {
	color: #0666db;
}

.nav {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-top: 10px;
}

.navLink {
	color: #fff; /* Set link color to white */
	text-decoration: none;
	transition: color 0.3s;
}

.navLink:hover {
	color: #0666db;
}

.footer p {
	margin-top: 20px;
	color: #fff; /* Set text color to white */
}
