.forgotPasswordContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: #f9fafc;
}

.forgotPasswordCardContainer {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
}

.forgotPasswordCard {
	background: #ffffff;
	border-radius: 7px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Drop shadow all around */
	padding: 10px;
	width: 100%;
	max-width: 400px;
	text-align: center;
}

.title {
	font-family: 'Muli', sans-serif;
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 20px;
}

.description {
	font-size: 16px;
	color: #3c4858;
	margin-bottom: 30px;
}

.formGroup {
	margin-bottom: 20px;
	text-align: left !important;
}

.formLabel {
	font-weight: 600 !important;
	color: #3c4858 !important;
	margin-bottom: 5px !important;
	display: block !important;
}

.formControl {
	box-shadow: none !important;
	background-color: transparent !important;
	border: 1px solid #ced4da !important;
	color: #3c4858 !important;
	height: 40px !important;
	font-size: 13px !important;
	padding: 4px 10px !important;
	border-radius: 7px !important;
	transition: all 0.5s ease !important;
	width: 90% !important;
}

.formControl:focus {
	border-color: #0666db !important;
	box-shadow: none !important;
}

.btnPrimary {
	background-color: #0666db !important;
	border: 1px solid #0666db !important;
	color: #ffffff !important;
	box-shadow: 0 3px 7px rgba(6, 102, 219, 0.5) !important;
	padding: 8px 20px !important;
	font-size: 16px !important;
	letter-spacing: 0.5px !important;
	font-weight: 600 !important;
	border-radius: 7px !important;
	cursor: pointer !important;
	transition: all 0.3s !important;
	width: 100% !important;
}

.btnPrimary:hover,
.btnPrimary:focus,
.btnPrimary:active,
.btnPrimary.active,
.btnPrimary.focus {
	background-color: #054fa9 !important;
	border-color: #054fa9 !important;
	color: #ffffff !important;
}

.errorMessage {
	background-color: rgba(240, 115, 90, 0.1) !important;
	border: 2px solid rgba(240, 115, 90, 0.1) !important;
	color: #f0735a !important;
	font-size: 14px !important;
	padding: 10px !important;
	border-radius: 5px !important;
	margin-bottom: 20px !important;
	display: none !important;
}

.successMessage {
	background-color: rgba(83, 199, 151, 0.1) !important;
	border: 2px solid rgba(83, 199, 151, 0.1) !important;
	color: #53c797 !important;
	font-size: 14px !important;
	padding: 10px !important;
	border-radius: 5px !important;
	margin-bottom: 20px !important;
	display: none !important;
}

.textCenter {
	text-align: center !important;
}

.mt4 {
	margin-top: 1.5rem !important;
}

.imageCol {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

.forgotPasswordImage {
	max-width: 800px !important;
	height: auto !important;
}

.textDark {
	color: #333 !important;
}

.mt-4 {
	margin-top: 1.5rem !important;
}

/* Media query for small screens */
@media (max-width: 768px) {
	.forgotPasswordCard,
	.formGroup {
		width: 100%;
	}

	.forgotPasswordCardContainer {
		flex-direction: column;
		align-items: center;
	}

	.forgotPasswordImage {
		display: none;
	}
}
