.forgotPasswordContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: #f9fafc;
}

.forgotPasswordCard {
	background: #ffffff;
	border-radius: 7px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
	padding: 40px;
	max-width: 400px;
	width: 100%;
	text-align: center;
	margin-top: 40px;
}

.title {
	font-family: 'Muli', sans-serif;
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 20px;
}

.description {
	font-size: 16px;
	color: #3c4858;
	margin-bottom: 30px;
}

.formGroup {
	margin-bottom: 20px;
	text-align: left;
}

.formLabel {
	font-weight: 600;
	color: #3c4858;
	margin-bottom: 5px;
	display: block;
}

.formControl {
	box-shadow: none;
	background-color: transparent;
	border: 1px solid #ced4da;
	color: #3c4858;
	height: 40px;
	font-size: 13px;
	padding: 4px 10px;
	border-radius: 7px;
	transition: all 0.5s ease;
	width: 100%;
}

.formControl:focus {
	border-color: #0666db;
	box-shadow: none;
}

.btnPrimary {
	background-color: #0666db;
	border: 1px solid #0666db;
	color: #ffffff;
	box-shadow: 0 3px 7px rgba(6, 102, 219, 0.5);
	padding: 8px 20px;
	font-size: 16px;
	letter-spacing: 0.5px;
	font-weight: 600;
	border-radius: 7px;
	cursor: pointer;
	transition: all 0.3s;
	width: 100%;
}

.btnPrimary:hover,
.btnPrimary:focus,
.btnPrimary:active,
.btnPrimary.active,
.btnPrimary.focus {
	background-color: #054fa9;
	border-color: #054fa9;
	color: #ffffff;
}

.errorMessage {
	background-color: rgba(240, 115, 90, 0.1);
	border: 2px solid rgba(240, 115, 90, 0.1);
	color: #f0735a;
	font-size: 14px;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
	display: none;
}

.successMessage {
	background-color: rgba(83, 199, 151, 0.1);
	border: 2px solid rgba(83, 199, 151, 0.1);
	color: #53c797;
	font-size: 14px;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
	display: none;
}
