@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;500;600;700&display=swap');

/* General Public Page Styles */
body.public-styles {
	font-family: 'Muli', sans-serif;
	overflow-x: hidden !important;
	font-size: 16px;
	color: #3c4858;
}

body.public-styles h1,
body.public-styles h2,
body.public-styles h3,
body.public-styles h4,
body.public-styles h5,
body.public-styles h6,
body.public-styles .h1,
body.public-styles .h2,
body.public-styles .h3,
body.public-styles .h4,
body.public-styles .h5,
body.public-styles .h6 {
	font-family: 'Muli', sans-serif;
	line-height: 1.5;
	font-weight: 600 !important;
}

body.public-styles ::selection {
	background: #465467;
	color: #ffffff;
}

body.public-styles a {
	text-decoration: none !important;
}

body.public-styles p {
	line-height: 1.6;
}

/* Existing Global Styles */
body.public-styles .currency-input {
	position: relative;
	display: inline-block;
}

body.public-styles .currency-symbol {
	position: absolute;
	left: 8px;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
	color: #000;
}

body.public-styles input[type='number'] {
	margin-left: 5px;
}

body.public-styles .percentage-input {
	position: relative;
	display: inline-block;
}

body.public-styles .percentage-symbol {
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
	color: #000;
}

body.public-styles .percentage-symbol > input[type='number'] {
	padding-right: 20px;
}

/* Existing Global Styles */
body.public-styles .section {
	padding: 100px 0;
	position: relative;
}

body.public-styles .bg-overlay {
	background-color: rgba(60, 72, 88, 0.7);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

body.public-styles .bg-overlay-white {
	background-color: rgba(255, 255, 255, 0.7);
}

body.public-styles .title-heading {
	line-height: 26px;
}
body.public-styles .title-heading .heading {
	font-size: 40px !important;
	letter-spacing: 1px;
}

body.public-styles .form-control {
	box-shadow: none;
	background-color: transparent;
	border: 1px solid #ced4da;
	color: #3c4858;
	height: 40px;
	font-size: 13px;
	padding: 4px 10px;
	border-radius: 7px;
	transition: all 0.5s ease;
	width: 100%;
}
body.public-styles .form-control:focus,
body.public-styles .form-control.active {
	border-color: #0666db;
	box-shadow: none;
}

body.public-styles .btn-primary {
	background-color: #0666db !important;
	border: 1px solid #0666db !important;
	color: #ffffff !important;
	box-shadow: 0 3px 7px rgba(6, 102, 219, 0.5);
}
body.public-styles .btn-primary:hover,
body.public-styles .btn-primary:focus,
body.public-styles .btn-primary:active,
body.public-styles .btn-primary.active,
body.public-styles .btn-primary.focus {
	background-color: #054fa9 !important;
	border-color: #054fa9 !important;
	color: #ffffff !important;
}

body.public-styles .btn {
	padding: 8px 20px;
	outline: none;
	text-decoration: none;
	font-size: 16px;
	letter-spacing: 0.5px;
	transition: all 0.3s;
	font-weight: 600;
	border-radius: 7px;
}
body.public-styles .btn:focus {
	box-shadow: none !important;
}

body.public-styles .shadow {
	box-shadow: 0 0 3px rgba(22, 28, 45, 0.15) !important;
}

body.public-styles .error {
	margin: 8px 0px;
	display: none;
	color: #e73636;
}

body.public-styles .error_message {
	background-color: rgba(240, 115, 90, 0.1) !important;
	border: 2px solid rgba(240, 115, 90, 0.1) !important;
	color: #f0735a !important;
	font-size: 14px;
}

body.public-styles #success_page {
	background-color: rgba(83, 199, 151, 0.1) !important;
	border: 2px solid rgba(83, 199, 151, 0.1) !important;
	color: #53c797 !important;
}
body.public-styles #success_page p {
	margin-bottom: 0 !important;
}

body.public-styles .mt-100 {
	margin-top: 100px;
}

body.public-styles .mb-60 {
	margin-bottom: 60px;
}

@media (min-width: 768px) {
	body.public-styles .margin-top-100 {
		margin-top: 100px;
	}
}

@media (max-width: 768px) {
	body.public-styles .section {
		padding: 60px 0;
	}
	body.public-styles .title-heading .heading {
		font-size: 30px !important;
	}
	body.public-styles .title-heading .para-desc {
		font-size: 15px;
	}
	body.public-styles .mt-60 {
		margin-top: 60px;
	}
}
