.headline {
	padding: 100px 0;
	text-align: center;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

.title {
	font-size: 3rem;
	margin-bottom: 20px;
}

.subtitle {
	font-size: 1.5rem;
	margin-bottom: 40px;
}
