/* Example CSS module for the Home page */

.main {
	padding: 2rem;
}

.section {
	padding: 100px 0;
	position: relative;
}

.section-two {
	padding: 60px 0;
	position: relative;
}

.title-heading {
	line-height: 26px;
}

.title-heading .heading {
	font-size: 40px !important;
	letter-spacing: 1px;
}

.section-title {
	position: relative;
}

.section-title .title {
	letter-spacing: 0.5px;
	font-size: 24px !important;
}

.para-desc {
	max-width: 600px;
}

.mt-100 {
	margin-top: 100px;
}

.mb-60 {
	margin-bottom: 60px;
}
