.privacyContainer {
	margin-top: 80px;
	padding: 20px;
}

.section {
	margin-bottom: 20px;
}

.section h2 {
	margin-top: 20px;
}

.section p {
	margin: 10px 0;
}

.privacyContainer a {
	color: #0666db;
	text-decoration: none;
}

.privacyContainer a:hover {
	text-decoration: underline;
}
